# Generic

snippet main "main function"
  func main() {
    ${0}
  }

snippet ie "handle error"
  if err != nil {
  	return ${1}err
  }

  ${0}

# HTTP Server

snippet mux "http mux router"
  mux := http.NewServeMux()

snippet route "http mux route"
	mux.HandleFunc("${1}", func(w http.ResponseWriter, r *http.Request) {
		${0}
	})

snippet serve "listen and serve"
  http.ListenAndServe("${1::8080}", mux)
